<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title | escape('html') }}</title>
    <description>{{ site.description | escape('html') }}</description>
    <link>{{ site.url }}{{ site.baseurl }}/</link>
    <atom:link href="{{ site.url ~ site.baseurl ~ page.permalink }}" rel="self" type="application/rss+xml"/>
    <pubDate>{{ page.datetime | date('YYYY') }}</pubDate>
    <lastBuildDate>{{ page.datetime | date }}</lastBuildDate>
    <generator>Stagen</generator>
    {% for item in feed.items %}
      <item>
        <title>{{ item.data.title | escape }}</title>
        <description>{{ item.data.excerpt | escape }}</description>
        <pubDate>{{ item.data.datetime | date }}</pubDate>
        <link>{{ site.url ~ site.baseurl ~ item.data.permalink }}</link>
        <guid isPermaLink="true">{{ site.url ~ site.baseurl ~ item.data.permalink }}</guid>
        {% for tag in item.data.tags %}
        <category>{{ tag | escape }}</category>
        {% endfor %}
        {% for cat in item.data.categories %}
        <category>{{ cat | escape }}</category>
        {% endfor %}
      </item>
    {% endfor %}
  </channel>
</rss>
