<article class="post" itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
    {% if view_mode == 'teaser' %}
      <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl ~ post.permalink}}">{{post.title}}</a></h2>
    {% else %}
      <h1 class="post-title" itemprop="name">{{post.title}}</h1>
    {% endif %}
    <div class="post-meta">
      <time itemprop="datePublished" datetime="{{ post.datetime | date }}">{{ post.datetime | date('MMM D, YYYY') }}</time>
      {% if post.categories %} • <span class="category">{{ post.categories }}</span>{% endif %}
    </div>
  </header>
  <div>
    {% if view_mode == 'teaser' %}{{post.excerpt}}<p class="more-link"><a href="{{ site.baseurl ~ post.permalink}}">Read more →</a></p>
    {% else %}
      {{post.body}}
      {% if post.comment != false and theme.settings().disqus_shortname %}{% include '../includes/disqus-comments.twig'  with {'disqus_shortname': theme.settings().disqus_shortname} %}{% endif %}
    {% endif %}
  </div>
</article>
