<article class="page small-12 columns" itemscope itemtype="http://schema.org/Article">
  <header class="page-header">
    <h1 class="page-title" itemprop="name">
      {% if view_mode == 'teaser' %}
        <a href="{{page.permalink}}">{{page.title}}</a>
      {% else %}
        {{page.title}}
      {% endif %}
    </h1>
  </header>
  <div>{% if view_mode == 'teaser' %}{{page.excerpt}}{% else %}{{page.body}}{% endif %}</div>
</article>
