<article class="post small-12 columns" itemtype="http://schema.org/Article" role="article">
  <header class="post-header">
    <h1 class="post-title" itemprop="name">
      {% if view_mode == 'teaser' %}
        <a href="{{post.permalink}}">{{post.title}}</a>
      {% else %}
        {{post.title}}
      {% endif %}
    </h1>
    <div class="post-meta">
      <time itemprop="datePublished" datetime="{{ post.datetime | date }}">{{ post.datetime | date('MMM D, YYYY') }}</time>
    </div>
  </header>
  <div>{% if view_mode == 'teaser' %}{{post.excerpt}}{% else %}{{post.body}}{% endif %}</div>
</article>
