<article class="post" itemtype="http://schema.org/Article">
  <header class="post-header">
    <h1 class="post-title" itemprop="name">
      {% if view_mode == 'teaser' %}
        <a href="{{ site.baseurl ~ post.permalink}}">{{post.title}}</a>
      {% else %}
        {{post.title}}
      {% endif %}
    </h1>
    <div class="post-meta">
      <time itemprop="datePublished" datetime="{{ post.datetime | date }}">{{ post.datetime | date('MMM D, YYYY') }}</time>
      {% if post.categories %} • <span class="category">{{ post.categories }}</span>{% endif %}
    </div>
  </header>
  <div>
    {% if view_mode == 'teaser' %}{{post.excerpt}}<p class="more-link"><a href="{{ site.baseurl ~ post.permalink}}">Read more →</a></p>
    {% else %}
      {{post.body}}
      {% if post.comment != false and site.disqus_shortname %}{% include '../_includes/disqus-comments.twig'  with {'disqus_shortname': site.disqus_shortname} %}{% endif %}
    {% endif %}
  </div>
</article>
